<%- include('header') %>
<div class="container">
  <div class="row align-items-center">
    <div class="col">
      New task
    </div>
    <div class="col-6">
        <form method="POST" action="/todo" enctype="application/x-www-form-urlencoded">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="todo" name="todo" placeholder="Attend infoShare workshop" />
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </div>
        </form>
    </div>
    <div class="col">
      &nbsp;
    </div>
  </div>
  <hr />
  <div class="row align-items-center">
    <div class="col">
      Active tasks
    </div>
    <div class="col-6">
        <form method="POST" action="/todo/done" enctype="application/x-www-form-urlencoded">
          <% todo.forEach((item) => { %>
            <div class="row">
                <div class="col">
                  <span type="text" class="form-control"><%= item.todo %></span>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-success" id="todo_<%= item.id %>" name="todo_<%= item.id %>">Done!</button>
                </div>
              </div>
          <% }); %>
	      </form>
    </div>
    <div class="col">
      &nbsp;
    </div>
  </div>
  <hr />
  <div class="row align-items-center">
    <div class="col">
      Done
    </div>
    <div class="col-6">
        <% done.forEach((item) => { %>
          <div class="row">
              <div class="col">
                <span type="text" class="form-control"><%= item.todo %></span>
              </div>
              <div class="col">
                &nbsp;
              </div>
            </div>
        <% }); %>
    </div>
    <div class="col">
      &nbsp;
    </div>
  </div>  
</div>
<%- include('footer') %>
